# ---
# Language: Cpp
# BasedOnStyle: LLVM
# AllowAllParametersOfDeclarationOnNextLine: false
# AlwaysBreakTemplateDeclarations: true
# BinPackArguments: false
# BinPackParameters: false
# BreakConstructorInitializers: BeforeComma
# ColumnLimit: 120
# CommentPragmas: '^(!|NOLINT)'
# ConstructorInitializerAllOnOneLineOrOnePerLine: true
# IncludeBlocks: Regroup
# IncludeCategories: 
#   - Regex: '^<.*'
#     Priority: 2
#   - Regex: '.*'
#     Priority: 1
# IncludeIsMainRegex: '(_dt|_win)?$'
# IndentCaseLabels: true
# IndentWidth: 4
# KeepEmptyLinesAtTheStartOfBlocks: false
# PenaltyReturnTypeOnItsOwnLine: 200
# SpacesBeforeTrailingComments: 2
# TabWidth: 4
# UseTab: Never
# ...

# ---
# Language: Cpp
# BasedOnStyle: Mozilla
# ColumnLimit: 116
# SpacesInParentheses: true
# AlwaysBreakAfterReturnType: None
# AlwaysBreakAfterDefinitionReturnType: None
# SpaceBeforeCpp11BracedList: true
# BreakBeforeBinaryOperators: All
# Cpp11BracedListStyle: true
# AllowShortBlocksOnASingleLine: Always
# BreakBeforeBraces: Custom
# BraceWrapping:
#   AfterClass: true
#   AfterControlStatement: Never
#   AfterFunction: true
#   AfterStruct: true
#   AfterEnum: true
#   SplitEmptyFunction: false
#   SplitEmptyRecord: false
#   SplitEmptyNamespace: false
# PackConstructorInitializers: NextLine
# ...
BasedOnStyle: LLVM
# AccessModifierOffset: "0"
AlignAfterOpenBracket: DontAlign
AlignConsecutiveMacros: "true"
AlignConsecutiveAssignments: "false"
AlignConsecutiveDeclarations: "false"
AlignEscapedNewlines: Left
AlignOperands: "true"
AlignTrailingComments: "true"
AllowAllArgumentsOnNextLine: "false"
AllowAllConstructorInitializersOnNextLine: "true"
AllowAllParametersOfDeclarationOnNextLine: "false"
AllowShortBlocksOnASingleLine: "false"
AllowShortCaseLabelsOnASingleLine: "false"
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: "true"
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: "Yes"
BreakStringLiterals: "false"
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: "true"
BinPackParameters: "true"
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: "false"
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
# BreakStringLiterals: "true"
ColumnLimit: "100"
CompactNamespaces: "false"
ConstructorInitializerAllOnOneLineOrOnePerLine: "false"
ConstructorInitializerIndentWidth: "4"
ContinuationIndentWidth: "4"
Cpp11BracedListStyle: "true"
DerivePointerAlignment: "false"
DisableFormat: "false"
FixNamespaceComments: "true"
IncludeBlocks: Merge
IndentCaseLabels: "true"
IndentPPDirectives: BeforeHash
IndentWidth: "2"
IndentWrappedFunctionNames: "true"
KeepEmptyLinesAtTheStartOfBlocks: "false"
Language: Cpp
NamespaceIndentation: All
PointerAlignment: Right
ReflowComments: "true"
SortIncludes: "true"
SortUsingDeclarations: "true"
SpaceAfterCStyleCast: "false"
SpaceAfterLogicalNot: "false"
SpaceAfterTemplateKeyword: "false"
SpaceBeforeAssignmentOperators: "true"
SpaceBeforeCpp11BracedList: "true"
SpaceBeforeCtorInitializerColon: "true"
SpaceBeforeInheritanceColon: "true"
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: "true"
SpaceInEmptyParentheses: "false"
SpacesBeforeTrailingComments: "4"
SpacesInAngles: "false"
SpacesInCStyleCastParentheses: "false"
SpacesInContainerLiterals: "false"
SpacesInParentheses: "false"
SpacesInSquareBrackets: "false"
# Standard: Cpp17
UseTab: Never
AllowShortLambdasOnASingleLine: None